@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #fff;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #e3f2fd;
        color: #000000;
    }
}